:root{
  --primary:#0d6efd;
  --accent:#6610f2;
  --muted:#6c757d;
}
body{
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background:#f8f9fa;
}
header .navbar-brand strong{color:var(--primary)}

/* PRODUCTOS */
.product-card img{
  height:200px;
  object-fit:contain;
}
.card-title{
  font-size:1rem;
}
.card-text.small{
  font-size:.85rem;
}
.price{
  font-weight:700;
}

/* MODAL IMG */
.modal-img{
  max-height:300px;
  object-fit:contain;
  width:100%;
}

/* FOCUS ACCESIBLE */
:focus{
  outline:3px solid rgba(13,110,253,.25);
  outline-offset:2px;
}

/* SIDEBAR */
.cart-offcanvas{
  max-width:420px;
}

/* RESPONSIVE */
@media (max-width:576px){
  .product-card img{height:140px}
}
